<div class="training-container">
    <h4 class="title">Let's start the training</h4>
    <form style="text-align:center" (ngSubmit)="startExcercise(f)" #f="ngForm">
        <mat-form-field>
            <mat-label>Select Excercise</mat-label>
            <mat-select required ngModel name="excercise">
                <mat-option *ngFor="let excercise of excercises" [value]="excercise.id">
                    {{excercise.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button type="submit" [disabled]="!f.valid" mat-raised-button color="primary">Start</button>
    </form>
</div>