<mat-nav-list>
    <a mat-list-item routerLink="/login" (click)="closeNav()">
        <mat-icon aria-hidden="false">lock</mat-icon>
        <span>Login</span>
    </a>
    <a mat-list-item routerLink="/signup" (click)="closeNav()">
        <mat-icon aria-hidden="false">input</mat-icon>
        <span>Signup</span>
    </a>
    <a mat-list-item routerLink="/trainings" (click)="closeNav()">
        <mat-icon aria-hidden="false">fitness_center</mat-icon>
        <span>Trainings</span>
    </a>
    <mat-list-item>
        <button mat-icon-button>
            <mat-icon>exit_to_app</mat-icon> Logout
        </button>
    </mat-list-item>
</mat-nav-list>