<mat-card>
    <mat-tab-group *ngIf="!excerciseActive" [selectedIndex]="selectedTab">
        <mat-tab label="New Training">
            <app-new-training></app-new-training>
        </mat-tab>
        <mat-tab label="Past Training">
            <app-past-training></app-past-training>
        </mat-tab>
    </mat-tab-group>
    <!-- Processing Training Here -->
    <div class="processing-training" *ngIf="excerciseActive">
        <mat-progress-spinner [mode]="mode" [value]="value"></mat-progress-spinner>
        <p>You have completed {{ value }}%</p>
        <button type="button" mat-raised-button color="accent" (click)="stopExcercise()">Stop</button>
    </div>
</mat-card>